body {
    font-family: 'Oswald', sans-serif;
    background-color: #AC86DD;
    background-image: linear-gradient(to bottom right, #AC86DD, #DEC5DF);
    color: #252D34;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

p {
    font-family: 'Kaisei Opti', serif;
    font-size: 1.2em;
    margin-bottom: 2em;
}

/* Button styles */
button {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #3C5F51;
    border: 0.08em solid #EFE9E1;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #3C5F51;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #EFE9E1;
    box-shadow: 0 0.4em 0.1em 0.019em #EFE9E1;
    font-family: 'Oswald', sans-serif;
}

button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #EFE9E1;
}

button span:not(hover) {
    transition: all 1s;
}
