body {
    background-color: #ebebe8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 2em
    color: #47484A;
}

p {
    font-size: 1em
    color: #31352e;
}
